[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-graphql = "*"
flask-pymongo = "*"
flask-jwt = "*"
flask-cors = "*"
graphene = "*"
uwsigi = "*"
uwsgi = "*"

[requires]
python_version = "3.8"
