.accountBody {
    margin: 1% 10% 0% 12%;
}

.contribBox {
    background-color: grey;
    height: 300px;
}

.infoBox {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: grey;
    margin: 0.5vw;
    height: 400px;
}

.profileIcon {
    height: 200px !important;
    width: 200px !important;
}

.changePasswordBox {
    display: flex;

    form {
        display: flex;
        flex-direction: column;
    }
}

.changeIconBox {
    display: flex;
}